@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-container {
  background-image: url('./images/liquid-bg.jpg');
}

h1, h2, h3 {
  font-family: 'League Gothic', sans-serif;
}